{{ $script := .Site.Data.webpack_assets.app }}
{{ with $script.js }}
  <script src="{{ relURL (printf "%s%s" "dist/" .) }}"></script>
 <script type="text/javascript">
   window.onload = function (){
       var addressCleaner = function (){
           this.href = this.href.split("?")[0].replace("notspam", "");
           this.onclick = function (){};
           this.oncontextmenu = function (){};
       };
       var links = document.getElementsByTagName("a");
       for (var i=0; i < links.length; i++){
         if(links[i].href.indexOf("mailto:") !== -1){
           links[i].onclick = addressCleaner;
           links[i].oncontextmenu = addressCleaner;
         }
       }
       var div = document.getElementById('headercontent');
       var width = div.offsetWidth;
       div.style.height = (width * 0.67) + "px";
   };
</script> 
{{ end }}
